@{
    ViewBag.Title = "Contact";
}
<h2>Contacts</h2>

<div class="col-sm-4">
    <div class="well" style="background-color:#101010">

        <img src="~/Images/Image2.jpg" alt="Smiley face" class="img-circle" height="150" width="150" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/Content/bootstrap.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <a href="https://www.facebook.com/vaniimark"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://github.com/ina5"><img src="~/Images/github-logo.png" class="glyphicon-align-center" height="40" width="40" /> </a>
        <a href="mailto:inapanova5@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        <div class="pull-right" style="color:#FFFFFF">

            <p>Ванина Панова</p>
        </div>

    </div>

</div>


<div class="col-sm-4">
    <div class="well" style="background-color:#101010">

        <img src="~/Images/Image1.jpg" alt="Smiley face" class="img-circle" height="200" width="150" />
        <link rel="stylesheet">
        <link href="/Content/bootstrap.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <a href="https://web.facebook.com/georgi.iv94?fref=ts"><i id="social-fb" class="fa fa-facebook-square fa-3x social" height="40" width="40"></i></a>
        <a href="https://github.com/ivanovg94"><img src="~/Images/github-logo.png" class="glyphicon-align-center" height="40" width="40" /> </a>
        <a href="mailto:georgipz94@abv.bg"><i id="social-em" class="fa fa-envelope-square fa-3x social" height="40" width="40"> </i></a>

        <div class="pull-right" style="color:#FFFFFF">

            <p>Георги Иванов</p>
        </div>
    </div>

</div>
<div class="col-sm-4">
    <div class="well" style="background-color:#101010">

        <img src="~/Images/Image3.jpg" alt="Smiley face" class="img-circle" height="150" width="150" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/Content/bootstrap.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <a href="https://web.facebook.com/stanislava.angelova.98?fref=ts"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://github.com/StanislavaAngelova"><img src="~/Images/github-logo.png" class="glyphicon-align-center" height="40" width="40" /> </a>
        <a href="mailto:stasiaangelova@abv.bg"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>

        <div class="pull-right" style="color:#FFFFFF">

            <p>Станислава Ангелова</p>
        </div>
    </div>

</div>

<!-- Social Footer, Single Coloured -->
<!-- Include Font Awesome Stylesheet in Header -->
@*<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">*@
<!-- // -->
@*<address>
        <strong>Send email:</strong>   <a href="mailto:inapanova5@gmail.com">inapanova5@gmail.com</a>
    </address>*@