@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VGS Events project</h1>
    <p class="lead">Welcome to our site!</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <h1>
        Team Members:
    </h1>

     <div class="col-md-3">
        <h2>Vani</h2>
        <p>
            ...//text
        </p>
        <p><a class="btn btn-default" href="#">... &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Stanislava</h2>
        <p>...//text</p>
        <p><a class="btn btn-default" href="#">... &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Georgi</h2>
        <p>...//text</p>
        <p><a class="btn btn-default" href="#">... &raquo;</a></p>
    </div>
</div>