.navbar-inverse {
  background-color:#14B0C7;
  border-color: green;
}
.navbar-inverse .navbar-nav > li > a {
  color: #000000;
}
body {
    font-family:'Times New Roman';
  /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: 18px;
  line-height: 1.42857143;
  color: #ffffff;
 background-image: url(rainbow.jpg)
}
.well {
    color: #77B300;
}
.jumbotron {
    color:#14B0C7
}
/*different fonts*/
.navbar-inverse .navbar-nav > li > a {
  color: #000000;
  font-family:'Baskerville Old Face';
  font-size:large;
}
/*change categories text*/
.text-uppercase {
  text-transform: none;
}
/*change categories text color*/
a {
  color: #D3D3D3;
  text-decoration: none;
   font-family: 'Baskerville Old Face';
}
/*change buttons*/
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 3px;
}
/*change categories list color*/
/*change categories drop down menu color*/
.btn-info {
  color: #ffffff;
  background-color: #000000;
  border-color: #47ca3a;
}


h1,
.h1 {
  font-size: 56px;
   font-family: 'Baskerville Old Face';
}
h2,
.h2 {
  font-size: 45px;
   font-family: 'Baskerville Old Face';
}
h3,
.h3 {
  font-size: 34px;
   font-family: 'Baskerville Old Face';
}
h4,
.h4 {
  font-size: 24px;
   font-family: 'Baskerville Old Face';
}
h5,
.h5 {
  font-size: 20px;
   font-family: 'Baskerville Old Face';
}
h6,
.h6 {
  font-size: 16px;
   font-family: 'Baskerville Old Face';
}
p {
  margin: 0 0 10px;
   font-family: 'Baskerville Old Face';
}
/*change Admin/Category color*/
.btn-warning {
  color: #ffffff;
  background-color: #D41208;
  border-color: #D41208;
}

/**/
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #D41208;
  border-color: #790101;
}
/**/
.btn-warning .badge {
  color: #790101;
  background-color: #ffffff;
}
/**/
.label-warning {
  background-color: #D41208;
}
/**/
.alert-warning {
  background-color: #D41208;
  border-color: #f05800;
  color: #ffffff;
}
/**/
.progress-bar-warning {
  background-color: #D41208;
}
/**/
.list-group-item-warning {
  color: #ffffff;
  background-color: #D41208;
}
/**/
.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #D41208;
  border-color: #f05800;
}
/**/
.text-warning,
.text-warning:hover {
  color: #D41208;
}
/**/

.has-warning .form-control,
.has-warning .form-control:focus,
.has-warning .input-group-addon {
  border-color: #D41208;
}
/**/
a.list-group-item-warning.active {
  background-color: #D41208;
}
/**/
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #D41208;
}

