.navbar-inverse {
  background-color:#14B0C7;
  border-color: green;
}
.navbar-inverse .navbar-nav > li > a {
  color: #000000;
}
body {
    font-family:'Times New Roman';
  /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: 18px;
  line-height: 1.42857143;
  color: #ffffff;
 background-image: url(rainbow.jpg)
}
.well {
    color: #77B300;
}
.jumbotron {
    color:#14B0C7
}
/*different fonts*/
.navbar-inverse .navbar-nav > li > a {
  color: #000000;
  font-family:'Baskerville Old Face';
  font-size:large;
}
/*change cattegories text*/
.text-uppercase {
  text-transform: none;
}
/*change cattegories text color*/
a {
  color: #D3D3D3;
  text-decoration: none;
   font-family: 'Baskerville Old Face';
}
/*change buttons*/
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 3px;
}
/*change cattegories list color*/
/*change cattegories drop down menu color*/
.btn-info {
  color: #ffffff;
  background-color: #000000;
  border-color: #47ca3a;
}


h1,
.h1 {
  font-size: 56px;
   font-family: 'Baskerville Old Face';
}
h2,
.h2 {
  font-size: 45px;
   font-family: 'Baskerville Old Face';
}
h3,
.h3 {
  font-size: 34px;
   font-family: 'Baskerville Old Face';
}
h4,
.h4 {
  font-size: 24px;
   font-family: 'Baskerville Old Face';
}
h5,
.h5 {
  font-size: 20px;
   font-family: 'Baskerville Old Face';
}
h6,
.h6 {
  font-size: 16px;
   font-family: 'Baskerville Old Face';
}
p {
  margin: 0 0 10px;
   font-family: 'Baskerville Old Face';
}